/*
Creator: Sam Halloran
Date created: 3/24/2019
Date last modified: 3/24/2019
*/

article img {
   float:left;
}
article {
    margin-bottom: 16px;
}

.clear-float {
    clear:both;
}

.right-content {
    float:left;
}
