body {
    background-color: lightblue;
}

header, footer {
    background-color: indianred;
    color: white;
}

#aboutMeA {
    border: thick solid blue;
}

#pastExperA {
    border: thick dashed orange;
}
