header{
   background-color: #5b7d87;
   color: #000000;
   height: 175px
  }
footer{
   background-color: #5b7d87;
   position: fixed;
   color: #000000;
   height: 50px;
   margin-bottom: 0px;
   bottom:0;
   width:100%;
}

.jumbotron{
  color: #000000;
  background-color:#5b7d87
}
